.container {
  margin: 1rem auto;
  max-width:60vw;
  border: 1px solid black;
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  background: #efefef;
  display: inline-block;
  padding: 5px 10px;
}
