.weui-cells_form  {
  .weui-cell__bd {
    position: relative;
  }
}

.weui-cells__group_form {
  .weui-cell_select  {
    .weui-cell__bd:after {
      right: 0!important;
    }
  }

  .weui-cell_select-after {
    padding: 0 32px!important;
  }
}
