.override__weui-btn_cell {
  width: 100%;
  border: none;
} 

.override__weui-btn_cell:focus,.override__weui-btn_cell:active {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .weui-btn {
    color: rgba(255, 255, 255, 0.68);
  }
}
